audio {
    border-radius: 4px;
}

body {
    padding-top: 20px;
    background: #1d1d1d;
    color: white;
}

h1 {
    margin: 10px 0px 10px 0px;
    line-height: 1.27778;
    text-transform: uppercase;
}

img {
    max-width: 100%;
    max-height: 100%;
}

audio {
    width: 100%;
}

.episode-container {
    margin: auto;
    max-width: 1000px;
}

.episode-child {
    padding: 20px;
    background-color: rgb(39, 39, 39);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2);
    margin-bottom: 20px;
}

.footer {
    padding: 20px 0;
    font-size: 12px;
    font-weight: 300;
    color: #888888;
    margin: auto;
}

.pagination {
    margin: 0;
}

.parent {
    text-align: center;
    margin: auto;
}

.copyright {
    text-align: center;
}

.pagination>li>a, .pagination>li>span {
    background-color: rgb(39, 39, 39);
    color: white;
    border: 1px solid black;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 3;
    color: white;
    background-color: rgb(49, 49, 49);
    border-color: black;
}

.pagination>li.unavailable>a, .pagination>li.current>a {
    color: gray;
}
