{% extends "base.html" %}

{% block navbar %}
{% include 'nav.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid col-xs-12">
        {% for msg in msgs %}
        <div class="image-container">
            <div class="">
                <a href="{{ msg.Message.MediaUrl|localize }}" >
                    <img src="{{ msg.Message.MediaUrl|localize }}" title="{{ msg.Message.Body }}" />
                </a>
            </div>
            <p class="description"><a href="{{ url_for('gallery.index', name=msg.Phonebook.Name) }}">{{ msg.Phonebook.Name }}</a> {{ msg.Message.Body }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
    <script>
        function update_widths() {
            $('img').each(function() {
                $(this).attr('class', 'portrait');
            });

            $("p.description").each(function() {
                $(this).width($(this).parent().width() - 30);
            });
        }

        $(window).on('load', function () {
            update_widths();
        });

        $(window).on('resize', function() {
            update_widths();
        });
    </script>
{% endblock %}
